@import "src/scss/mixins/util-mixins";

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  margin-bottom: 1.75rem;
  @include breakpoint('tablet', 'max') {
    transform: rotate(90deg) translate(-3rem, 7.5rem);
    width: 20rem;
    height: 20rem;
  }
}

.details-title, .details-sub-title {
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item {
  width: 100%;
  margin: .75rem 0;
  padding: .5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

