<aside class="sidebar-container">
  <div class="details">
    <h2 class="details-title">Michael Mountain</h2>
    <h4 class="details-sub-title">
      Web Developer and Hobbyist 3D Modeller
    </h4>
  </div>
  <nav class="navigation">
    <a class="nav-item">
      <span>Featured</span>
      <i class="fas fa-meteor"></i>
    </a>
    <a class="nav-item">
      <span>Screenshots</span>
      <i class="fas fa-gamepad"></i>
    </a>
    <a class="nav-item">
      <span>Blender</span>
      <i class="fas fa-cube"></i>
    </a>
  </nav>
  <nav class="secondary-nav">
    <a class="nav-item bottom">
      <span>Github</span>
      <i class="fab fa-github-alt"></i>
    </a>
    <a class="nav-item bottom">
      <span>ArtStation</span>
      <i class="fab fa-artstation"></i>
    </a>
  </nav>
</aside>
