@import "src/scss/mixins/util-mixins";

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  margin: 1.75rem 0;

  @include breakpoint('tablet', 'max') {
    writing-mode: vertical-rl;
    margin-top: 0;
  }
}

.details-title, .details-sub-title {
  text-align: center;
}

.navigation, .secondary-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item {
  width: 100%;
  margin: .75rem 0;
  padding: .5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    display: none;
  }

  @include breakpoint('tablet', 'max') {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    &:not(.bottom) {
      transform: translate(0, -2rem);
      width: 3rem;
      height: 3rem;
    }
    span {
      display: none;
    }
    i {
      display: block;
    }
  }
}

